@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins",sans-serif;
}

a {
  color: #000428;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.go-top {
  position: fixed;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #90fd02;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  bottom: 65px;
  right: 2%;
  -webkit-transition: .5s;
  transition: .5s;
}

.go-top:hover {
  background-color: #000428;
}

.go-top:hover i {
  color: #90fd02;
}

#landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/bg1.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

#landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: #010425cc;
}

#landing .intro {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#landing .intro h1 {
  color: #90fd02;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 3rem;
}

#landing .intro .text {
  width: 80%;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

#landing .intro .row {
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#landing .intro a {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  color: #90fd02;
}

#landing .intro button {
  height: 40px;
  width: 100%;
  margin: 10px 0;
  border-radius: 7px;
  border: 2px solid #90fd02;
  color: #90fd02;
  font-size: 1.1rem;
  background-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
}

#landing .intro button:hover {
  background-color: #90fd02;
  color: #000a5e;
}

nav {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #90fd02;
  overflow-x: hidden;
}

nav .container {
  color: #000a5e !important;
  min-height: 50px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 {
  margin: 0;
  color: #000a5e !important;
}

nav i {
  color: #000a5e !important;
}

nav .language .lang-list {
  margin: 0;
}

nav .language li {
  font-weight: bold;
  display: inline;
  margin: 0 5px;
}

nav .language li button {
  border: none;
  border: 2px solid #000a5e;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #90fd02;
  -webkit-transition: .5s;
  transition: .5s;
  color: #000a5e !important;
  text-align: center;
  outline: none;
}

nav .language li button:hover {
  background-color: #73ca02;
}

nav .language li button.active {
  background-color: #000a5e;
  color: #90fd02 !important;
  cursor: default;
  pointer-events: none;
}

#about {
  height: calc( 100vh - 58px);
  border-top: 10px solid #90fd02;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  color: #ffffff;
  background: #000428;
  background: -webkit-gradient(linear, left bottom, left top, from(#004e92), to(#000428));
  background: linear-gradient(to top, #004e92, #000428);
}

@media screen and (max-width: 992px) {
  #about {
    height: 100%;
  }
}

#about .row {
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#about h1 {
  color: #90fd02;
  margin-bottom: 15px;
  font-size: 50px;
}

#about p {
  text-align: justify;
  font-size: 1.1rem;
}

#about .icon {
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
  border-radius: 7px;
}

#about .icon img {
  width: 100%;
}

#about .btns {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about a {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  color: #90fd02;
}

#about a button {
  height: 40px;
  width: 100%;
  margin: 10px 0;
  border-radius: 7px;
  border: 2px solid #90fd02;
  color: #90fd02;
  background-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
}

#about a button:hover {
  background-color: #90fd02;
  color: #000428;
}

#footer {
  min-height: 50px;
  padding: 5px 0;
  background-color: #90fd02;
  color: #000428;
}

#footer .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
