@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
nav {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #90fd02;
  overflow-x: hidden;
}

nav .container {
  position: relative;
  color: #000a5e !important;
  min-height: 50px;
}

nav .row {
  height: 100%;
  margin: 0;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

nav .home {
  font-weight: bold;
}

nav .home i {
  font-size: 1.5rem;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .home i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

nav .home a {
  text-decoration: none;
  color: #000a5e !important;
}

nav h1 {
  margin: 0;
  color: #000a5e !important;
}

nav i {
  color: #000a5e !important;
}

nav .language ul {
  margin: 0;
}

nav .language li {
  font-weight: bold;
  display: inline;
  margin: 3px;
}

nav .language li button {
  border: none;
  border: 2px solid #000a5e;
  width: 35px;
  height: 35px;
  margin: 1px;
  border-radius: 50%;
  background-color: #90fd02;
  -webkit-transition: .5s;
  transition: .5s;
  color: #000a5e !important;
  text-align: center;
  outline: none;
}

nav .language li button:hover {
  background-color: #73ca02;
}

nav .language li button.active {
  background-color: #000a5e;
  color: #90fd02 !important;
  cursor: default;
}

@media screen and (max-width: 576px) {
  .home, .language {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
}

#footer {
  position: absolute;
  bottom: -58px;
  left: 0;
  width: 100%;
  min-height: 50px;
  padding: 5px 0;
  background-color: #90fd02;
}

#footer .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .end * {
  color: #000428;
}

::-webkit-input-placeholder {
  color: #046dc9;
  -webkit-transition: .5s;
  transition: .5s;
}

:-ms-input-placeholder {
  color: #046dc9;
  -webkit-transition: .5s;
  transition: .5s;
}

::-ms-input-placeholder {
  color: #046dc9;
  -webkit-transition: .5s;
  transition: .5s;
}

::placeholder {
  color: #046dc9;
  -webkit-transition: .5s;
  transition: .5s;
}

input:not([type='radio']) {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: #004e92;
  border: none;
  color: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

input:not([type='radio']):focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #90fd02;
}

input:not([type='radio']):focus::-webkit-input-placeholder {
  opacity: 0;
}

input:not([type='radio']):focus:-ms-input-placeholder {
  opacity: 0;
}

input:not([type='radio']):focus::-ms-input-placeholder {
  opacity: 0;
}

input:not([type='radio']):focus::placeholder {
  opacity: 0;
}

input:not([type='radio'])[type=number]::-webkit-inner-spin-button, input:not([type='radio'])[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:not([type='radio']):-webkit-autofill, input:not([type='radio']):-webkit-autofill:hover, input:not([type='radio']):-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #004e92;
  -webkit-text-fill-color: #ffffff;
}

button:focus {
  outline: none;
}

.home-btn {
  min-height: 40px;
  width: 100%;
  margin: 10px 0;
  border-radius: 7px;
  border: 2px solid #90fd02;
  color: #90fd02;
  font-size: 1rem;
  background-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
}

.home-btn:hover {
  background-color: #90fd02;
  color: #000a5e;
}

.go-top {
  position: fixed;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #90fd02;
  color: #000428;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  bottom: 65px;
  text-align: center;
  right: 2%;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.go-top i {
  color: #000428;
}

.go-top:hover {
  outline: none;
  background-color: #000428;
  text-decoration: none;
}

.go-top:hover i {
  color: #90fd02;
}

.btn {
  background-color: none;
  color: #ffffff !important;
}

.delete {
  background-color: #000a5e;
  color: #ffffff !important;
  -webkit-transition: .5s;
  transition: .5s;
}

.delete:hover, .delete:focus {
  background-color: #000f91;
}

.submit {
  background-color: #0359da;
  color: #ffffff !important;
  -webkit-transition: .5s;
  transition: .5s;
}

.submit:hover, .submit:focus {
  background-color: #0244a8;
}

.add {
  background-color: #90fd02;
  color: #000000 !important;
  -webkit-transition: .5s;
  transition: .5s;
}

.add:hover, .add:focus {
  background-color: #73ca02;
}

#loader {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
  background: #000428;
  background: -webkit-gradient(linear, left top, left bottom, from(#004e92), to(#000428));
  background: linear-gradient(to bottom, #004e92, #000428);
}

#loader.remove {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

#loader.move {
  -webkit-animation: go 1s forwards;
          animation: go 1s forwards;
}

#loader .loading-container {
  position: relative;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading {
  margin: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading .obj {
  width: 6px;
  height: 40px;
  background: #90fd02;
  margin: 0 3px;
  border-radius: 10px;
  -webkit-animation: loading 1.6s infinite;
          animation: loading 1.6s infinite;
}

.loading .obj:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading .obj:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading .obj:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading .obj:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading .obj:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loading .obj:nth-child(7) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.loading .obj:nth-child(8) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

@-webkit-keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 0;
  }
}

@keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes go {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes go {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

*:not(span) {
  font-family: "Poppins", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #90fd02;
}

*:not(span):focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body {
  position: relative;
  min-height: calc( 100vh + 60px);
  width: 100vw;
  overflow-x: hidden;
  background: #000428;
  background: -webkit-gradient(linear, left top, left bottom, from(#004e92), to(#000428));
  background: linear-gradient(to bottom, #004e92, #000428);
}

#sizer {
  padding: 30px 0;
}

.popup {
  text-align: center;
  opacity: 0;
  margin-top: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.loads .container {
  border-bottom: #90fd02 solid 2px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.loads .container:first-of-type {
  padding-top: 0;
}

.loads .container:last-of-type {
  padding-bottom: 0;
  border: none;
}

#address h3 {
  margin: 20px;
}

.card-block {
  background-color: #051923 !important;
  border-radius: 7px;
}

.list-group-item {
  background-color: #051923 !important;
}

.list-group-item i {
  text-align: center;
  width: 20px;
  height: 100%;
}

.list-group-item p {
  display: inline;
  margin-left: 20px;
}

.list-group-item p.day-variable {
  margin-left: 0 !important;
}

.list-group-item span {
  color: #ffffff;
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

#map .mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  z-index: 0;
}

#exemple {
  background-color: #051923 !important;
}

#exemple .input-group-prepend {
  width: 100%;
  background-color: #051923 !important;
}

#exemple .input-group-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid #90fd02 !important;
  border-radius: 5px;
  background-color: #030e14 !important;
}

#exemple .input-group-text p {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

#exemple .input-group-text input {
  margin-left: 20px;
}

#exemple .input-group-text label {
  margin-bottom: 0;
}

.alert-danger {
  color: #fa8f8f !important;
  border-color: #fa8f8f !important;
  background-color: #550113 !important;
}

#pdf {
  position: relative;
  margin: 100px 20px;
}

#pdf * {
  opacity: .5s;
  background-color: transparent !important;
  color: #000000 !important;
  background-image: url("../img/bg1.png") !important;
  background-attachment: fixed !important;
}

#pdf h3 {
  margin-bottom: 25px;
}

#pdf .bg {
  position: absolute;
  z-index: 2;
  opacity: .2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#schema-pv, #schema-battery {
  --rows: 1;
  --colums: 1;
  background-color: #ccc;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[var];
      grid-template-rows: repeat(var(--rows), 1fr);
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--colums), 1fr);
}

#schema-pv img, #schema-battery img {
  width: 100%;
}
