html 
    scroll-behavior: smooth
    
*:not(span)
    font-family: "Poppins", sans-serif
    margin: 0
    box-sizing: border-box
    color: $main-color

    &:focus
        box-shadow: none !important
    
body 
    position: relative
    min-height: calc( 100vh + 60px )
    width: 100vw
    overflow-x: hidden
    background: $first-color
    background: -webkit-linear-gradient(to bottom, $second-color, $first-color)
    background: linear-gradient(to bottom, $second-color, $first-color)

// Sizer
#sizer
    padding: 30px 0

.popup
    text-align: center
    opacity: 0
    margin-top: 10px 
    transition: .5s

.loads 

    .container
        border-bottom: $main-color solid 2px
        padding-bottom: 2px 
        padding-top: 2px 

        &:first-of-type
            padding-top: 0

        &:last-of-type 
            padding-bottom: 0
            border: none
  
// Adress Section
#address

    h3
        margin: 20px

.card-block 
    background-color: #051923 !important
    border-radius: 7px

.list-group-item
    background-color: #051923 !important

    i 
        text-align: center
        width: 20px
        height: 100%
    p 
        display: inline
        margin-left: 20px

        &.day-variable
            margin-left: 0 !important

    span 
        color: #ffffff

// Map Section
#map
    width: 100%
    height: 300px
    border-radius: 5px

    .mapboxgl-ctrl-bottom-right>.mapboxgl-ctrl-attrib.mapboxgl-compact:after
        z-index: 0

// Exemple Section
#exemple
    background-color: #051923 !important

    .input-group-prepend
        width: 100%
        background-color: #051923 !important

    .input-group-text
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        border: 2px solid $main-color !important
        border-radius: 5px 
        background-color: #030e14 !important

        p 
            font-weight: bold
            margin: 0
            margin-right: 10px

        input 
            margin-left: 20px

        label 
            margin-bottom: 0

.alert-danger 
    color: #fa8f8f !important
    border-color: #fa8f8f !important
    background-color: #550113 !important

// PDF Section
#pdf
    position: relative
    margin: 100px 20px

    *
        opacity: .5s
        background-color: transparent !important
        color: #000000 !important
        background-image: url("../img/bg1.png") !important
        background-attachment: fixed !important

    h3 
        margin-bottom: 25px

    .bg
        position: absolute
        z-index: 2
        opacity: .2
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

    h4 
        position: relative
        margin-top: 25px
        z-index: 2
        text-align: center
        color: $main-color !important

        span 
            color: $second-color !important

#schema-pv, #schema-battery 
    --rows: 1
    --colums: 1
    background-color: #ccc
    height: 100%
    display: grid
    grid-template-rows: repeat(var(--rows), 1fr)
    grid-template-columns: repeat(var(--colums), 1fr)

    img 
        width: 100%


